{{#if users.isAdmin}}
    {{#each users.pending_votes}}
        <div class="smallPad">
            <div class="bs-callout bs-callout-default">
                <h4>{{this.createdTime}}</h4>
                User: <a href="http://localhost:3000/users/{{this.pollUser}}">{{this.pollUser}}'s</a> status is waiting to be determined by your vote.
                <a href="http://localhost:3000/polls/{{this.pollUser}}">Click here to place a vote on him/her!</a>
            </div>
        </div>
    {{/each}}
{{/if}}

<div class="separatingBar"></div>




<div style="padding:10px">
    {{#each events}}
        <div class="bs-callout bs-callout-default">
            <h4>{{this.creation_time}}</h4>
            <a href="http://localhost:3000/users/{{this.reported_by}}">{{this.reported_by}}</a> reported <a href="http://localhost:3000/users/{{this.reported_player}}">{{this.reported_player}}</a>
        </div>
    {{/each}}

    {{!-- <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div> --}}

</div>

<div class="row">
    <div class="col-md-2">
        Column1
    </div>
    <div class="col-md-8" style="background-color: #f8f9fa">
        Column2
    </div>
    <div class="col-md-2">
        Column3
    </div>
</div> 