{{!-- THIS IS A CONTINUATION OF TEMPLATE.HANDLEBARS, WHICH HAS THE REQUIRED ELEMENTS OF THE VALIDATOR --}}
<div class="row my-5">
    <div class="col-md-12">
        <h2 class="report-title text-center shadow">Reports to be Polled</h2>
        <div class="smallPad">
            <div class="accordion" id="accordionRecieved">
                {{#if hasdata}}
                {{#each data}}
                <div class="card outer-card">
                    <div class="row">
                        <div class="col-sm">
                            <a href="/users/{{this.voting_about}}"
                                class="badge badge-pill badge-primaryn polls-username shadow">{{this.voting_about}}</a>
                        </div>
                        <form class="form-inline" method="POST" action="/polls">
                            <input type="hidden" name="id" id="id" value="{{this._id}}">
                            <div class="col-sm">

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-success active">
                                        <input type="radio" name="options" id="vote1" value="Legit" checked>
                                        Legit
                                    </label>
                                    <label class="btn btn-warning">
                                        <input type="radio" name="options" id="vote2" value="Suspicious">
                                        Suspicious
                                    </label>
                                    <label class="btn btn-danger">
                                        <input type="radio" name="options" id="vote3" value="Cheater">
                                        Cheater
                                    </label>

                                </div>
                                <button type="submit" class="btn btn-primaryn shadow ml-2">Vote</button>

                            </div>
                        </form>
                    </div>
                    <h3 class="hiddden">a</h3>
                    <h4 class="hiddden">b</h4>
                    {{#each this.reportedinfo}}
                    <div class="card">
                        <div class="card-header" id="heading{{_id}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse{{_id}}" aria-expanded="true" aria-controls="collapseOne">
                                    Report #{{_id}}
                                    {{#if appealed}}
                                    <span class="badge badge-danger ml-2">Appealed</span>
                                    {{/if}}
                                </button>
                            </h5>
                        </div>
                    </div>
                    <div id="collapse{{_id}}" class="collapse" aria-labelledby="heading{{_id}}"
                        data-parent="#accordionRecieved">
                        <div class="card-body">
                            {{#if appealed}}
                            Appealed By: {{this.appealed_by}}
                            {{else}}
                            Reported By: <a href="/users/{{this.reported_by}}">{{this.reported_by}}</a>
                            {{/if}}
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{#if this.image.path}}
                                <img class="report-img" src="/{{this.image.path}}" alt="Report Image" />
                                <br>
                                {{/if}}
                                {{#if proof_link}}
                                <a href="{{proof_link}}" target="_blank">{{proof_link}}</a>
                                <br>
                                {{/if}}


                                Comments:
                                <ul id="commentsList{{_id}}">
                                    {{#each comments}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                </ul>

                                <div class="row">
                                    <div class="col-sm-3">

                                        <img class="avatar shadow"
                                            src="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-630.png">

                                    </div>

                                    <div class="col">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>myusername</strong> <span class="text-muted">commented 5 days
                                                    ago</span>
                                            </div>
                                            <div class="panel-body">
                                                Panel content
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg btn-block"
                                    id="report_Comments{{_id}}" name="comments" placeholder="Enter description"
                                    required="required">
                                <input type="hidden" name="reportid" id="reportid{{_id}}" value="{{_id}}">
                                <br>
                                <button type="button" class="btn btn-primary shadow ml-2" id="add_Comment{{_id}}"
                                    onclick="Addcomment('{{_id}}');">Add Comment</button>
                            </div>
                        </div>

                    </div>
                    {{/each}}
                </div>
                {{/each}}
                {{else}}
                <p>No reports found</p>
                {{/if}}
            </div>

        </div>
    </div>
</div>