<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/public/css/favicon.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/public/css/custom.css">



    <title>Battlefield V Cheater Report</title>
</head>

<body>
    <h1 class="hiddden">a</h1>
    <h2 class="hiddden">b</h2>
    <h3 class="hiddden">c</h3>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light paddingbottomone shadow">

        <a class="navbar-brand main-logo paddingtopone paddingbottomone" href="/"><img src="/public/css/nav-logo.png" alt="logo" /> <div>Reporting</div></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-outline-danger my-2 my-sm-0 mr-sm-2 redBSO" href="/list"><img class="nav-icon" src="/public/css/banlist.ico" alt="ban list logo" />Cheater List</a>
                </li>
                {{#if loggedin}}
                {{#if isAdmin}}
                <li class="nav-item active">
                    <a class="btn btn-outline-warning my-2 my-sm-0 mr-sm-2" href="/polls"><img class="nav-icon"
                            src="/public/css/vote.gif" alt="vote button"/>Polls</a>
                </li>
                {{/if}}
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">


                {{#unless ErrorPage}}
                {{#if loggedin}}
                <a href="/users/{{users.user_name}}"
                    class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2">My Profile: {{users.user_name}}</a>
                <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0">Log Out</a>
                {{else}}
                <a href="" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" data-toggle="modal"
                    data-target="#modalLoginForm">Login</a>
                <a href="" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal"
                    data-target="#modalSignUpForm">Sign Up</a>
                {{/if}}
                {{/unless}}


            </form>

        </div>
    </nav>


    <div class="parallax">
        <!-- bullets -->
        <!-- NOTE TO PROFESSOR/GRADER ABOUT THE FOLLOWING STYLES: These styles in particular add the bullet effect to the page 
        and each element is specialized and unique, so linking to a separate css file would add no benefit and waste time. We
        pul all our other styles in separate linked css files and agree with the best practices of web design, but kept these
        in particular as an exception and hope you'll allow because of the above reasons. -->
        <div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-10px) scale(11);"> <img
                    src="/public/css/favicon.png" style="margin-top: -45px; margin-left: 20px" alt=""/></div>

            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 50px; margin-left: 345px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 115px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet2.png" alt="" class="bullet" style="margin-top: 200px; margin-left: 234px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet3.png" alt="" class="bullet" style="margin-top: 255px; margin-left: 255px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet4.png" alt="" class="bullet" style="margin-top: 300px; margin-left: 450px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 425px; margin-left: 620px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 550px; margin-left: 312px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet2.png" alt="" class="bullet" style="margin-top: 628px; margin-left: 412px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet3.png" alt="" class="bullet" style="margin-top: 245px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet4.png" alt="" class="bullet" style="margin-top: 590px; margin-left: 100px"></div>

            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 150px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet2.png" alt="" class="bullet" style="margin-top: 615px; margin-left: 190px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet3.png" alt="" class="bullet" style="margin-top: 211px; margin-left: 534px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet4.png" alt="" class="bullet" style="margin-top: 1055px; margin-left: 755px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 380px; margin-left: 750px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 325px; margin-left: 626px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet2.png" alt="" class="bullet" style="margin-top: 320px; margin-left: 502px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet3.png" alt="" class="bullet" style="margin-top: 928px; margin-left: 712px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img
                    src="/public/css/bullet4.png" alt="" class="bullet" style="margin-top: 520px; margin-left: 563px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img
                    src="/public/css/bullet.png" alt="" class="bullet" style="margin-top: 990px; margin-left: 600px"></div>

        </div>

        <div class="parallax__layer parallax__layer--base">

            <!-- search bar -->
            {{#unless ErrorPage}}
            <div class="shadow">
                {{#if hasErrors}}

                <div class="alert alert-danger alert-dismissible fade show row errorpanel" role="alert">
                    {{errors}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <div class="container search-bar">
                    <form action="/search" method="POST">
                        <div class="row h-25">
                            <div class="col ">
                                <div class="input-group">
                                    <input class="form-control has-success shadow p-3 bg-white rounded" type="search"
                                        placeholder="Search" aria-label="Search" name="username_search"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-dark btn-block shadow rounded" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    {{#if loggedin}}
                    <div class="row h-25 mt-4">
                        <div class="col">
                            <a href="/reports" class="btn btn-danger btn-block shadow rounded mainReportBtn">Create
                                Report</a>
                        </div>
                    </div>
                    {{/if}}
                </div>

            </div>
            {{/unless}}

            <div class="separatingBar"></div>




            <div class="container greyBack">
                {{{body}}}

            </div>

            <!-- <div class="container page-size">
                <h1>Hello, world!2</h1>
            </div> -->

            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center pt-3">© 2019 Copyright: Group 5
                    <img class="footer-img"
                        src="/public/css/footer.jpg" alt="Footer Soldiers">
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->



        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/dataTables.bootstrap4.min.js"></script>


    {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> --}}
    <script src="/public/js/popper.min.js"></script>

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/custom.js"></script>

    <!-- Sign In - Login -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <form id="login_form">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="username_login">Username</label>
                            <input type="text" id="username_login" name="username_login" class="form-control validate"
                                required="required">
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="password_login">Password</label>
                            <input type="password" id="password_login" name="password_login"
                                class="form-control validate" required="required">
                        </div>
                        <span id="span_login"></span>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="login_submit" class="btn btn-outline-success-dark">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSignUpForm" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="signup_form" action="/register" method="POST">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="username_signup">Username</label>
                            <input type="text" id="username_signup" name="username_signup" required="required"
                                class="form-control validate">
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <label data-error="wrong" data-success="right"
                                for="password_signup">Password</label>
                            <input type="password" id="password_signup" name="password_signup"
                                class="form-control validate" required="required">
                        </div>
                        <span id="span-signup"></span>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button id="signup_submit" class="btn btn-outline-primary-dark" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
</body>


</html>