{{!-- THIS IS A CONTINUATION OF TEMPLATE.HANDLEBARS, WHICH HAS THE REQUIRED ELEMENTS OF THE VALIDATOR --}}
<div class="row">
    <div class="col-md-2">

        <div class="row">
            <img src="{{userprofile.avatar.path}}" alt="Avatar" class="avatar shadow">
            {{#if userprofile.showAvatarPen}}
            <a href="/users/{{userprofile.user_name}}/avatar">
                <img class="edit-icon " src="/public/css/edit.png" title="Edit Avatar" />
            </a>
            {{/if}}
        </div>
        <div class="row">

        </div>
    </div>
    <div class="col-md-10">
        <div class="bs-callout bs-callout-default shadow">
            

                <span class="userpage-username">{{userprofile.user_name}}</span>
           
                <span class="badge badge-pill badge-info floatRight shadow"> 
                    {{userprofile.submitted_reports_count}} report(s) recieved
                    
                    <br>
                    

                    {{userprofile.created_reports_count}}
                    report(s)
                    submitted
                </span>
                



        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-2">

        {{#if userprofile.isAdmin}}
        <div class="row">
            <h3><span class="badge badge-dark ml-2">Admin</span></h3>
        </div>
        {{else}}
        <div class="row">
            <h3><span class="badge {{userprofile.label_status}} ml-2 text-uppercase">{{userprofile.label_status}}</span>
            </h3>
        </div>
        {{#if userprofile.showAppealbtn}}
        <div class="row">
            <h3><a class="btn btn-danger btn-block shadow rounded ml-2"
                    href="/users/{{userprofile.user_name}}/appeal">Appeal!</a></h3>
        </div>
        {{/if}}
        {{/if}}

    </div>
    <div class="col-md-10">
        <h2 class="report-title text-center shadow">Received Reports</h2>
        <h3 class="hiddden">a</h3>
        <h4 class="hiddden">a</h4>
        <div class="smallPad">
            <div class="accordion" id="accordionRecieved">
                {{#if isreceived}}
                {{#each userprofile.reportedinfo}}
                <div class="card">
                    <div class="card-header" id="heading{{this.reportNumber}}">
                        <div class="row mb-0">
                            <div class="col-sm">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse{{this.reportNumber}}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Report {{this.reportNumber}}


                                </button>
                            </div>
                            <div class="col-sm-auto">
                                <div class="badge badge-pill user-date">
                                    {{dateFormat this.creation_time "MMMM Do YYYY - h:mm:ss a"}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="collapse{{this.reportNumber}}" class="collapse"
                        aria-labelledby="heading{{this.reportNumber}}" data-parent="#accordionRecieved">
                        <div class="card-body">
                            Reported By: <a href="/users/{{this.reported_by}}">{{this.reported_by}}</a>
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{#if this.image.path}}
                                <img src="/{{this.image.path}}" alt="Report Image" />
                                <br>
                                {{/if}}
                                {{#if proof_link}}
                                Proof Link: <a href="{{proof_link}}" target="_blank">{{proof_link}}</a>
                                {{/if}}

                                Comments:
                                <ul id="commentsList{{_id}}">
                                    {{#each comments_content}}
                                    <li>{{this.comment}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{#if ../userprofile.cancomment}}
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg btn-block"
                                    id="report_Comments{{_id}}" name="comments" placeholder="Enter description"
                                    required="required">
                                <input type="hidden" name="reportid" id="reportid{{_id}}" value="{{_id}}">
                                <br>
                                <button type="button" class="btn btn-primary shadow ml-2" id="add_Comment{{_id}}"
                                    onclick="Addcomment('{{_id}}');">Add Comment</button>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="card user-no-report">
                    <div class="card-headern">No reports found</div>
                </div>
                {{/if}}
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">

        <h2 class="report-title text-center shadow mt-4">Submitted Reports</h2>
        <h3 class="hiddden">a</h3>
        <h4 class="hiddden">a</h4>
        <div class="smallPad">
            <div class="accordion" id="accordionSubmitted">
                {{#if isCreated}}
                {{#each userprofile.createdinfo}}
                <div class="card">
                    <div class="card-header" id="headingSubmit{{this.reportNumber}}">
                        <div class="row mb-0">
                            <div class="col-sm">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseSubmit{{this.reportNumber}}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Report {{this.reportNumber}}
                                </button>
                            </div>
                            <div class="col-sm-auto">
                                <div class="badge badge-pill user-date">
                                    {{dateFormat this.creation_time "MMMM Do YYYY - h:mm:ss a"}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="collapseSubmit{{this.reportNumber}}" class="collapse"
                        aria-labelledby="headingSubmit{{this.reportNumber}}" data-parent="#accordionSubmitted">
                        <div class="card-body">
                            Reported Player: <a href="/users/{{this.reported_player}}">{{this.reported_player}}</a>
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{#if this.image.path}}
                                <img src="/{{this.image.path}}" alt="Report Image" />
                                <br>
                                {{/if}}
                                {{#if proof_link}}
                                Proof Link: <a href="{{proof_link}}" target="_blank">{{proof_link}}</a>
                                {{/if}}

                                Comments:
                                <ul id="commentsList{{_id}}">
                                    {{#each comments_content}}
                                    <li>{{this.comment}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{#if ../userprofile.cancomment}}
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg btn-block"
                                    id="report_Comments{{_id}}" name="comments" placeholder="Enter description"
                                    required="required">
                                <input type="hidden" name="reportid" id="reportid{{_id}}" value="{{_id}}">
                                <br>
                                <button type="button" class="btn btn-primary shadow ml-2" id="add_Comment{{_id}}"
                                    onclick="Addcomment('{{_id}}');">Add Comment</button>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="card user-no-report">
                    <div class="card-headern">No reports found</div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</div>




<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">

        <h2 class="report-title text-center shadow mt-4">Appealed Reports</h2>
        <h3 class="hiddden">a</h3>
        <h4 class="hiddden">a</h4>
        <div class="smallPad">
            <div class="accordion" id="accordionSubmitted">
                {{#if isappealed}}
                {{#each userprofile.appealedinfo}}
                <div class="card">
                    <div class="card-header" id="headingSubmit{{this._id}}">
                        <div class="row mb-0">
                            <div class="col-sm">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseSubmit{{this._id}}" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Report {{this._id}}
                                </button>
                            </div>
                            <div class="col-sm-auto">
                                <div class="badge badge-pill user-date">
                                    {{dateFormat this.creation_time "MMMM Do YYYY - h:mm:ss a"}}</div>
                            </div>
                        </div>
                    </div>

                    <div id="collapseSubmit{{this._id}}" class="collapse"
                        aria-labelledby="headingSubmit{{this._id}}" data-parent="#accordionSubmitted">
                        <div class="card-body">
                            Appealed Player: {{this.appealed_by}}
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{#if this.image.path}}
                                <img src="/{{this.image.path}}" alt="Report Image"/>
                                <br>
                                {{/if}}
                                {{#if proof_link}}
                                Proof Link: <a href="{{proof_link}}" target="_blank">{{proof_link}}</a>
                                {{/if}}

                                Comments:
                                <ul id="commentsList{{_id}}">
                                    {{#each comments_content}}
                                    <li>{{this.comment}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{#if ../userprofile.cancomment}}
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-lg btn-block"
                                    id="report_Comments{{_id}}" name="comments" placeholder="Enter description"
                                    required="required">
                                <input type="hidden" name="reportid" id="reportid{{_id}}" value="{{_id}}">
                                <br>
                                <button type="button" class="btn btn-primary shadow ml-2" id="add_Comment{{_id}}"
                                    onclick="Addcomment('{{_id}}');">Add Comment</button>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="card user-no-report">
                    <div class="card-headern">No reports found</div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</div>