<div class="row">
    <div class="col-md-2">
        <div class="row">
            <img src="/public/css/img_avatar.png" alt="Avatar" class="avatar shadow">
        </div>
        <div class="row">
            <h3><span class="badge badge-success ml-2">{{users.label_status}}</span></h3>
        </div>
        <div class="row">
            <button type="button" class="btn btn-danger btn-lg btn-block ml-2">Appeal!</button>
        </div>
    </div>
    <div class="col-md-10">
        <div style="background-color:#a9a9a930">
            <div class="bs-callout bs-callout-default">
                <h4> {{users.user_name}}<span style="float:right" class="badge badge-pill badge-info">{{users.created_reports_count}} reports
                        submitted</span></h4>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <h2 class="report-title text-center">Received Reports</h2>

        <div style="padding:10px">
        <div class="accordion" id="accordionRecieved">
        {{#if isreceived}}            
            {{#each users.reportedinfo}}   
                <div class="card">
                    <div class="card-header" id="heading""{{this.reportNumber}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse""{{this.reportNumber}}"
                                aria-expanded="true" aria-controls="collapseOne">
                                Report #{{this.reportNumber}}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse""{{this.reportNumber}}" class="collapse show" aria-labelledby="heading""{{this.reportNumber}}"
                        data-parent="#accordionRecieved">
                        <div class="card-body">
                            {{this.body}}
                        </div>
                    </div>
                </div>
                 {{/each}}
                {{else}}
                <p>No reports found</p>                    
                {{/if}}
                </div>
               
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">

        <h2 class="report-title text-center shadow">Submitted Reports</h2>
        <div style="padding:10px">
            <div class="accordion" id="accordionSubmitted">
                 {{#if isCreated}}            
                    {{#each users.createdinfo}}   
                <div class="card">
                    <div class="card-header" id="headingSubmit""{{this.reportNumber}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSubmit""{{this.reportNumber}}"
                                aria-expanded="true" aria-controls="collapseOne">
                                Report #{{this.reportNumber}}
                            </button>
                        </h5>
                    </div>

                    <div id="collapseSubmit""{{this.reportNumber}}" class="collapse show" aria-labelledby="headingSubmit""{{this.reportNumber}}"
                        data-parent="#accordionSubmitted">
                        <div class="card-body">
                            {{this.body}}
                        </div>
                    </div>
                </div>   
                 {{/each}}
                {{else}}
                <p>No reports found</p>                    
                {{/if}}             
            </div>
        </div>

    </div>
</div>