<div class="row">
    <div class="col-md-2">
        <div class="row">
            <img src="/public/css/img_avatar.png" alt="Avatar" class="avatar shadow">
        </div>
        {{#if userprofile.isAdmin}}
        <div class="row">
            <h3><span class="badge badge-dark ml-2">Admin</span></h3>
        </div>
        {{/if}}
        <div class="row">
            <h3><span class="badge badge-success ml-2 text-uppercase">{{userprofile.label_status}}</span></h3>
        </div>
        {{#if userprofile.showAppealbtn}}
        <div class="row">
            <a type="button" class="btn btn-danger btn-lg btn-block ml-2" href="/users/{{userprofile.user_name}}/appeal">Appeal!</a>
        </div>
        {{/if}}
    </div>
    <div class="col-md-10">
        <div class="bs-callout bs-callout-default shadow">
            <h4> <span class="userpage-username">{{userprofile.user_name}}</span>
                <span class="badge badge-pill badge-info floatRight shadow">{{userprofile.created_reports_count}} report(s)
                    submitted</span>
            </h4>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <h2 class="report-title text-center shadow">Received Reports</h2>

        <div class="smallPad">
            <div class="accordion" id="accordionRecieved">
                {{#if isreceived}}
                {{#each userprofile.reportedinfo}}
                <div class="card">
                    <div class="card-header" id="heading{{this.reportNumber}}">
                        <h5 class="mb-0">
                            <div class="row">
                                <div class="col-sm">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapse{{this.reportNumber}}" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Report {{this.reportNumber}}


                                    </button>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="badge badge-pill user-date">
                                        {{dateFormat this.creation_time "MMMM Do YYYY - h:mm:ss a"}}</div>
                                </div>
                            </div>
                        </h5>
                    </div>

                    <div id="collapse{{this.reportNumber}}" class="collapse"
                        aria-labelledby="heading{{this.reportNumber}}" data-parent="#accordionRecieved">
                        <div class="card-body">
                            Reported By: <a href="/users/{{this.reported_by}}">{{this.reported_by}}</a>
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{this.image}}
                                <br>
                                Proof Link: <a href="{{proof_link}}" target="_blank">{{proof_link}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="card user-no-report">
                    <div class="card-header">No reports found</div>
                </div>
                {{/if}}
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">

        <h2 class="report-title text-center shadow mt-4">Submitted Reports</h2>
        <div class="smallPad">
            <div class="accordion" id="accordionSubmitted">
                {{#if isCreated}}
                {{#each userprofile.createdinfo}}
                <div class="card">
                    <div class="card-header" id="headingSubmit{{this.reportNumber}}">
                        <h5 class="mb-0">
                            <div class="row">
                                <div class="col-sm">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseSubmit{{this.reportNumber}}" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Report {{this.reportNumber}}
                                    </button>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="badge badge-pill user-date">
                                        {{dateFormat this.creation_time "MMMM Do YYYY - h:mm:ss a"}}</div>
                                </div>
                            </div>
                        </h5>
                    </div>

                    <div id="collapseSubmit{{this.reportNumber}}" class="collapse"
                        aria-labelledby="headingSubmit{{this.reportNumber}}" data-parent="#accordionSubmitted">
                        <div class="card-body">
                            Reported Player: <a href="/users/{{this.reported_player}}">{{this.reported_player}}</a>
                            <br>
                            <div class="bs-callout bs-callout-default shadow">
                                Evidence explained: {{this.body}}
                                <br>
                                {{this.image}}
                                <br>
                                Proof Link: <a href="{{this.proof_link}}" target="_blank">{{this.proof_link}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="card user-no-report">
                    <div class="card-header">No reports found</div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
</div>